$screenLarge: 1200px;
$screenMedium: 992px;
$screenSmall: 768px;
$screenTiny: 500px;
$headerColor: #064c92;
$textColor: hsl(270, 2%, 25%);
$descColor: #333333;
$hoverColor: #fca300;

.gradientBlueBackground {
    background: rgba(60, 92, 176, 0.4);
    background: -moz-linear-gradient(top, rgba(60, 92, 176, 0.4) 0%, rgba(60, 92, 176, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60, 92, 176, 0.4)), color-stop(100%, rgba(60, 92, 176, 0)));
    background: -webkit-linear-gradient(top, rgba(60, 92, 176, 0.4) 0%, rgba(60, 92, 176, 0) 100%);
    background: -o-linear-gradient(top, rgba(60, 92, 176, 0.4) 0%, rgba(60, 92, 176, 0) 100%);
    background: -ms-linear-gradient(top, rgba(60, 92, 176, 0.4) 0%, rgba(60, 92, 176, 0) 100%);
    background: linear-gradient(to bottom, rgba(60, 92, 176, 0.4) 0%, rgba(60, 92, 176, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.gradientBlackBackground {
    background: rgba(0, 0, 0, 0.4);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.font-medium {
    font-family: 'Gotham Medium';
}

.font-bold {
    font-family: 'Gotham Black';
}