@import "_variables.scss";

page.company {
    .top-banner {
        position: relative;
        height: 500px;

        img {
            -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .page-title {
            max-width: $contentMaxWidth;
            position: absolute;
            top: 35%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 999;
            padding-left: 65px;

            h1 {
                font-family: 'Gotham Black', 'Open Sans';
                color: #fff;
                text-transform: uppercase;
                font-size: 36px;
                @media only screen and (max-width: $screenSmall) {
                    font-size: 36px;
                }
            }
        }
    }

    .concept {
        padding: 20px 50px 50px 50px;
        text-align: center;
        max-width: $contentMaxWidth;
        margin: auto;

        .detail {
            padding-top: 25px;
            font-size: 23px;
            margin-left: auto;
            margin-right: auto;
            color: $descColor;
        }
    }

    .ceteau-stats {
        text-align: center;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;

        .number-counter {
            max-width: $contentMaxWidth;
            margin: auto;

            .item {
                font-size: 20px;

                .odometer-digit {
                    width: 14px;
                    color: $hoverColor;
                }
            }

            h4 {
                font-family: 'Gotham Black';
                font-size: 20px;
                color: #0078d7;
                margin-left: auto;
                margin-right: auto;
                padding-top: 10px;
                position: relative;
                height: 48px;
            }
        }
    }

    .vdo-present {
        padding: 35px 50px;
        text-align: center;
        color: $textColor;

        h1 {
            text-transform: uppercase;
        }

        .row {
            max-width: $contentMaxWidth;
            margin: auto;
            padding-top: 40px;
            padding-bottom: 45px;
        }
    }

    .production {
        padding-top: 20px;
        padding-bottom: 60px;

        .main-header {
            text-align: center;
        }

        .content {
            margin: auto;
            max-width: $contentMaxWidth;
            padding-top: 25px;

            .desc {
                padding-bottom: 30px;
                font-size: 15px;
            }

            .item-list {
                .img-container {
                    height: 200px;
                }

                .item-desc {
                    padding-top: 15px;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .management {
        padding-top: 55px;
        padding-bottom: 60px;
        font-family: 'Gotham Book';
        // color: #fff;
        // @extend .radialBlueBackground;

        .management-container {
            margin-left: auto;
            margin-right: auto;
            max-width: $contentMaxWidth;

            h1 {
                margin-top: 0;
                text-align: center;
                // color: #fff;
                color: $mainColor;
            }

            .row {
                padding-top: 30px;

                .desc {
                    font-size: 15px;
                }

                img {
                    max-height: 500px;
                }
            }
        }
    }

    .quality {
        padding-top: 20px;
        padding-bottom: 60px;

        .main-header {
            text-align: center;
        }

        .content {
            margin: auto;
            max-width: $contentMaxWidth;
            padding-top: 25px;
            font-size: 15px;
        }
    }

    .team {
        .team-container {
            position: relative;

            .main-header {
                position: absolute;
                top: 35px;
                text-align: center;
                left: 0;
                right: 0;
                color: #fff;
                z-index: 999;
            }

            .desc {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                margin: auto;
                transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                z-index: 999;
                max-width: $contentMaxWidth;
                text-align: center;

                h1 {
                    font-family: 'Gotham Book';
                    color: #fff;
                    font-size: 30px;
                }
            }

            .item {
                height: 500px;
                
                @media only screen and (max-width: $screenTiny) {
                    height: 400px;
                }

                img {
                    -webkit-filter: brightness(0.8);
                    filter: brightness(0.8);
                }
            }
        }
    }

    .why-ceteau {
        padding: 35px 50px 30px 50px;
        text-align: center;
        color: $textColor;

        h1 {
            text-transform: uppercase;
        }

        .row {
            max-width: $contentMaxWidth;
            margin: auto;
            padding-top: 40px;

            div {
                text-align: center;

                .item {
                    margin-left: auto;
                    margin-right: auto;
                    
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                h3 {
                    font-family: 'Gotham Black';
                    font-size: 18px;
                    color: $mainColor;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 10px;
                    position: relative;
                    height: 48px;
                    &:before {
                        content: "";
                        position: absolute;
                        border-bottom: 2px solid;
                        border-bottom-color: $mainColor;
                        width: 50%;
                        left: 25%;
                        bottom: 0;
                    }
                    @media only screen and (max-width: 1300px) {
                        margin-bottom: 20px;
                        &:before {
                            bottom: -10px;
                        }
                    }
                }

                a:hover h3 {
                    color: $hoverColor !important;
                    &:before {
                        border-bottom-color: $hoverColor;
                    }
                }

                p {
                    font-family: 'Gotham Book', 'Open Sans';
                    font-size: 14px;
                    padding: 7px 10px 10px 0;
                }
            }

        }
    }
}