@import "_variables.scss";

page.contact {
    .top-banner {
        position: relative;
        height: 500px;

        img {
            -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .item {
            height: 500px;

            @media only screen and (max-width: $screenTiny) {
                height: 400px;
            }
        }

        .page-title {
            max-width: 1250px;
            position: absolute;
            top: 35%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 999;
            padding-left: 15px;

            h1 {
                font-family: 'Gotham Black', 'Open Sans';
                color: $headerColor;
                text-transform: uppercase;
                font-size: 36px;
                @media only screen and (max-width: $screenSmall) {
                    font-size: 36px;
                }
            }
        }
    }

    .branch {
        .branch-header {
            max-width: $contentMaxWidth;
            margin: auto;
            padding: 20px 0 50px 0;
            text-align: center;

            h1 {
                font-size: 30px;
                font-family: 'Gotham Bold';
                color: $headerColor;
            }
        }

        .branch-list {
            padding-top: 20px;
            padding-bottom: 45px;
            max-width: $contentMaxWidth;
            margin: auto;
            height: 215px;

            a {
                width: 80%;
                text-align: center;
            }
        }

        button {
            width: 260px;

            &.selected {
                color: #fff;
                background-color: $headerColor;
            }
        }
    }

    .location {
        .row, .office-map {
            height: 400px;
        }

        .row {
            margin: 0;
        }

        .address {
            background-color: #f2f6fa;
            height: 100%;

            .content {
                max-width: $contentMaxWidth / 2;
                position: absolute;
                right: 0;
                width: 100%;
                padding-left: 50px;

                h3 {
                    font-family: 'Gotham Bold';
                    color: $headerColor;
                    font-size: 20px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                div, span {
                    font-family: 'Gotham Book';
                }

                .contact-detail {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    line-height: 22px;
                }

                .location-detail {
                    label {
                        font-family: 'Gotham Bold';
                    }
                }

                i {
                    color: $hoverColor;
                    font-size: 15px;
                    padding-right: 10px;

                    &.fa-phone, &.fa-map-marker {
                        font-size: 20px;
                    }
                }
            }

        }

        .btn-contact-form {
            font-family: 'Gotham Bold';
            font-size: 18px;
            padding: 5px 15px;
        }

        .map-container {
            padding: 0;
        }
    }

    .contact-form {
        max-width: $contentMaxWidth;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;

        h1, h3 {
            text-align: center;
        }

        h3 {
            font-size: 20px;
            font-family: 'Gotham Book';
        }
            
        .world-map, .world-map img {
            width: 780px;
        }
            
        .world-map-container {
            padding-top: 40px;
            
            .world-map {
                position: relative;
                margin: auto;
            }
        }


        .map-points {
            .map-location {
                position: absolute;
                width: 10px;
                height: 10px;
                border-width: 0px;
                border-color: transparent;
                background-color: #7F7F7F;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: $headerColor;
                }
            }

            .mexico {
                top: 199px;
                left: 144px;
            }

            .panama {
                top: 218px;
                left: 176px;
            }

            .uk {
                top: 109px;
                left: 359px;
            }

            .france {
                top: 137px;
                left: 363px;
            }

            .netherland {
                top: 124px;
                left: 377px;
            }

            .turkey {
                top: 151px;
                left: 432px;
            }

            .iran {
                top: 167px;
                left: 478px;
            }

            .emirate {
                top: 195px;
                left: 476px;
            }

            .india {
                top: 207px;
                left: 528px;
            }

            .myanmar {
                top: 199px;
                left: 568px;
            }

            .thailand {
                top: 206px;
                left: 581px;
            }

            .vietnam {
                top: 192px;
                left: 593px;
            }

            .cambodia {
                top: 216px;
                left: 593px;
            }

            .philippines {
                top: 218px;
                left: 630px;
            }

            .maylaysia {
                top: 232px;
                left: 583px;
            }

            .indonesia {
                top: 249px;
                left: 582px;
            }

            .brunei {
                top: 242px;
                left: 608px;
            }

            .australia {
                top: 314px;
                left: 671px;
            }

            .nz {
                top: 333px;
                left: 740px;
            }
        }
    }
}

.modal {
    .modal-location {
        top: 20%;
        width: 800px;

        .modal-body {
            padding: 0;
        }

        .country-map {
            width: 400px;
            height: 400px;
            position: initial;
        }

        .row {
            margin: 0;

            div {
                padding: 0;
            }

            .location-desc {
                padding: 15px;
                font-family: 'Gotham Book';

                h3 {
                    font-family: 'Gotham Bold';
                    font-size: 16px;
                }
            }
        }

        .web-logo {
            width: 150px;
        }
    }

    .modal-contact-form {
        top: 20%;

        .modal-header {
            padding: 15px 30px;

            .close {
                span {
                    font-weight: bold;
                }
            }
        }

        .modal-body {
            padding: 30px;

            .form {
                .form-control {
                    margin-bottom: 5px;
                }
                button {
                    margin-top: 25px;
                }
            }
        }
    }
}