@import "_variables.scss";

page.product-detail {
    .product-description {
        .general-concept {
            text-align: left;
            padding-left: 0;
            padding-right: 0;

            @media only screen and (max-width: $screenLarge) {
                padding-left: 30px;
                padding-right: 30px;
            }

            .main-header {
                text-align: center;
            }

            h2.title {
                margin-top: 20px;
                color: $mainColor;
                font-size: 25px;
                font-family: 'Gotham Bold', 'Open Sans';

                @media only screen and (max-width: $screenMedium) {
                    text-align: center;
                }
            }

            .main-description {
                padding-right: 40px;
                text-align: center;

                .graph-img-container {
                    padding-top: 20px;
                    max-width: 600px;
                    margin: auto;
        
                    img {
                        width: 100%;
                    }
                }
    
                .detail{
                    padding-top: 20px;
                }

                .sub-content {
                    padding-top: 20px;
                }
            }

            .attribute-list {
                .application-img-container {
                    padding: 20px 0;
                    max-width: 350px;
                    margin: auto;
    
                    img {
                        width: 100%;
                    }
                }
    
                .attributes {
                    font-size: 20px;
                    list-style: none;
                    padding-left: 25px;
    
                    li {
                        padding-left: 1em; 
                        text-indent: -.7em;
                        list-style: none;

                        i {
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }
}