@import "_variables.scss";

@font-face {
    font-family: 'Gotham Light';
    src: url('../lib/fonts/gotham/Gotham-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../lib/fonts/gotham/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../lib/fonts/gotham/Gotham-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../lib/fonts/gotham/Gotham-Ultra.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../lib/fonts/gotham/Gotham-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../lib/fonts/gotham/Gotham-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../lib/fonts/gotham/Gotham-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Thin';
    src: url('../lib/fonts/gotham/Gotham-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Gotham Light', 'Open Sans', 'Kanit';
    font-weight: normal;
}

.container {
	max-width: 1200px;
}

header {
    padding: 30px 0;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    @extend .gradientBackground;

    .logo {
        float: left;

        img {
            width: 250px;
        }

        @media only screen and (max-width: $screenTiny) {
            img {
                width: 120px;
            }
        }
    }

    .header-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .top-menu {
        float: right;
        text-align: right;
        padding-top: 25px;

        i {
            cursor: pointer;
            color: #fff;
            font-size: 30px;
        }

        nav {
            display: block;
            padding-top: 10px;

            a {
                padding: 0 10px;
                font-size: 15px;
                font-weight: 700;
                color: #fff;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .lang {
            font-size: 13px;
            color: #aaa;

            a {
                color: #bfc4c7;
                display: inline-block;
                padding: 0 10px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }
}

footer {
    padding: 40px 0;
    background: #e2e4ed;

    nav {
        a, label {
            display: block;
            font-weight: normal;

            @media only screen and (max-width: $screenSmall) {
                text-align: center;
            }

            &.main {
                font-family: 'Gotham Bold';
                font-size: 18px;
                color: #6b636f;

                @media only screen and (max-width: $screenSmall) {
                    padding-top: 20px;

                    &.first {
                        padding-top: 0;
                    }
                }

                &:after {
                    width: 50px;
                    margin: 5px 0 15px;
                    content: "";
                    height: 2px;
                    display: block;

                    @media only screen and (max-width: $screenSmall) {
                        margin: 5px auto 15px;
                    }
                }
            }

            &.sub {
                font-family: 'Gotham Book';
                font-size: 14px;
                color: #827b86;
                padding-bottom: 5px;
            }
        }

        .space {
            height: 46px;
        }
    }
    
    .social {
        margin: 0;
        padding-left: 5px;
        padding-right: 20px;

        @media only screen and (max-width: $screenSmall) {
            text-align: center;
            padding-bottom: 10px;
        }

        a {
            display: inline-block;
            width: 50px;
            height: 36px;

            i {
                color: #635966;
                font-size: 26px;
                display: block;
            }
        }
    }

    .copyright {
        color: #999;
        text-align: center;
        padding-top: 20px;
    }
}

.main-btn {
    color: #fff;
    background-color: #fca300;
    font-size: 24px;
    padding: 15px 60px;
    display: inline-block;
    margin-top: 20px;

    &:hover {
        color: #fff;
        background-color: #fca300;
        opacity: 1;
    }
}

.detail {
    font-family: 'Gotham Book';
    color: #4f4c53;
}