@import "_variables.scss";

@font-face {
    font-family: 'Gotham Light';
    src: url('../lib/fonts/gotham/Gotham-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../lib/fonts/gotham/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../lib/fonts/gotham/Gotham-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../lib/fonts/gotham/Gotham-Ultra.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../lib/fonts/gotham/Gotham-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../lib/fonts/gotham/Gotham-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../lib/fonts/gotham/Gotham-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Thin';
    src: url('../lib/fonts/gotham/Gotham-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Gotham Light', 'Open Sans', 'Kanit';
    font-weight: normal;
}

.container {
	max-width: 1200px;
}

header {
    padding: 30px 0 10px 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    @extend .gradientBlackBackground;

    &.active {
        background: none;
        background-color: #fff;

        .logo-blue {
            display: block !important;
        }

        .logo-white {
            display: none;
        }

        .top-menu nav a {
            color: $headerColor;
        }
    }

    .logo {
        float: left;

        img {
            width: 250px;
        }

        @media only screen and (max-width: $screenTiny) {
            img {
                width: 120px;
            }
        }
    }

    .header-container {
        // padding-left: 50px;
        // padding-right: 50px;
        max-width: $contentMaxWidth;
        margin: auto;
    }

    .top-menu {
        display: block;
        float: right;
        text-align: right;
        padding-top: 25px;
        font-size: 30px;

        @media only screen and (max-width: $screenTopMenu) {
            display: none;
        }

        nav {
            a {
                text-transform: uppercase;
                color: #fff;
                font-family: 'Gotham Bold';
                font-size: 20px;
                padding-right: 25px;

                &:last-child {
                    padding-right: 0px;
                }
            }
        }
    }

    .top-menu-mobile {
        display: none;
        float: right;
        text-align: right;
        padding-top: 25px;

        @media only screen and (max-width: $screenTopMenu) {
            display: block;
        }

        i {
            cursor: pointer;
            color: #fff;
            font-size: 30px;
        }

        nav {
            display: block;
            padding-top: 10px;

            a {
                padding: 0 10px;
                font-size: 15px;
                font-weight: 700;
                color: #fff;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .lang {
            font-size: 13px;
            color: #aaa;

            a {
                color: #bfc4c7;
                display: inline-block;
                padding: 0 10px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }
}

footer {
    padding: 40px 0;
    background: #e2e4ed;

    nav {
        a, label {
            display: block;
            font-weight: normal;

            @media only screen and (max-width: $screenSmall) {
                text-align: center;
            }

            &.main {
                font-family: 'Gotham Bold';
                font-size: 18px;
                color: #6b636f;

                @media only screen and (max-width: $screenSmall) {
                    padding-top: 20px;

                    &.first {
                        padding-top: 0;
                    }
                }

                &:after {
                    width: 50px;
                    margin: 5px 0 15px;
                    content: "";
                    height: 2px;
                    display: block;

                    @media only screen and (max-width: $screenSmall) {
                        margin: 5px auto 15px;
                    }
                }
            }

            &.sub {
                font-family: 'Gotham Book';
                font-size: 14px;
                color: #827b86;
                padding-bottom: 5px;
            }
        }

        p {
            font-family: 'Gotham Book';
            font-size: 14px;
            color: #827b86;
        }

        .space {
            height: 46px;
        }
    }
    
    .social {
        margin: 0;
        padding-left: 5px;
        padding-right: 20px;

        @media only screen and (max-width: $screenSmall) {
            text-align: center;
            padding-bottom: 10px;
        }

        a {
            display: inline-block;
            width: 50px;
            height: 36px;

            i {
                color: #635966;
                font-size: 26px;
                display: block;
            }
        }
    }

    .copyright {
        color: #999;
        text-align: center;
        padding-top: 20px;
    }
}

.menu-container {
    position: fixed;
    width: 400px;
    right: -400px;
    top: 0;
    height: 100%;
    background-color: $headerColor;
    z-index: 99999;
    -webkit-transition: all 0.30s linear;
    -moz-transition: all 0.30s linear;
    -ms-transition: all 0.30s linear;
    -o-transition: all 0.30s linear;
    transition: all 0.30s linear;

    .menu-content {
        padding: 50px 55px;
        color: #fff;

        a {
            color: #fff;
        }
        
        .lang-options {
            font-size: 22px;

            span {
                font-size: 45px;
                position: absolute;
                right: 48px;
                top: 32px;
                cursor: pointer;
            }
        }
    
        .menu-items {
            list-style: none;
            padding: 0;
            margin-top: 90px;

            li {
                padding: 10px 0;

                .menu-text {
                    text-transform: uppercase;
                    font-family: 'Gotham Black';
                    font-size: 32px;
                }

                .menu-icon i {
                    float: right;
                    font-size: 45px;
                    font-weight: bold;
                    color: $hoverColor;
                    line-height: 40px;
                }
            }
        }

        .social-items {
            font-size: 29px;
            list-style: none;
            padding: 0;
            margin-top: 80px;

            li {
                float: left;
                padding-right: 35px;

                &:last-child {
                    padding: 0;
                }
            }
        }
    }

}

.main-btn {
    color: #fff;
    background-color: #fca300;
    font-size: 22px;
    padding: 15px 60px;
    display: inline-block;
    margin-top: 20px;

    &:hover {
        color: #fff;
        background-color: $headerColor;
        opacity: 1;
    }
}

.detail {
    font-family: 'Gotham Book';
    color: #4f4c53;
}

.no-padding {
    padding: 0;
}

.slider-control-orange {
    .lSAction {
        a {
            background-image: url('../img/icons/arrow-right-orange.png');
        }
    }
}

.lSAction {

    a {
        opacity: 1;
        background-image: url('../img/icons/arrow-right.png');
        width: 26px;
        height: 42px;
    }

    .lSNext, .lSPrev {
        background-position: initial;
    }

    .lSPrev {
        left: 30px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .lSNext {
        right: 30px
    }
}

.lSSlideOuter .lSPager.lSpg {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 30px;
    li {
        a {
            background-color: #fff;
            height: 15px;
            width: 15px;
        }
        &.active {
            a {
                // background-color: #032f72;
                background-color: #0078d7;
            }
        }
    }
}

h1.main-header {
    color: $headerColor;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Gotham Black', 'Open Sans';
}

h1.sub-header {
    color: $headerColor;
    font-size: 36px;
    font-family: 'Gotham Black', 'Open Sans';
}

.strong {
    font-family: 'Gotham Book';
    font-weight: bold;
}