@import "_variables.scss";

@font-face {
    font-family: 'Gotham Book';
    src: url('../lib/fonts/gotham/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
    font-display: 'block';
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../lib/fonts/gotham/Gotham-Bold.otf');
    font-weight: normal;
    font-style: normal;
    font-display: 'block';
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../lib/fonts/gotham/Gotham-Black.otf');
    font-weight: normal;
    font-style: normal;
    font-display: 'block';
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../lib/fonts/gotham/Gotham-Medium.otf');
    font-weight: normal;
    font-style: normal;
    font-display: 'block';
}

* {
    font-family: 'Gotham Book', 'Open Sans';
    font-weight: normal;
}

.container {
	max-width: 1200px;
}

header {
    padding: 10px 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    height: 79px;
    @extend .gradientBlackBackground;

    &.active {
        background: none;
        background-color: #fff;
        
        .top-menu nav a, .top-menu-mobile i, .lang-options, .lang-options a {
            color: $headerColor !important;
        }

        .logo-blue {
            display: block !important;
        }

        .logo-white {
            display: none;
        }
    }

    .logo {
        float: left;

        img {
            width: 210px;
        }

        @media only screen and (max-width: $screenTiny) {
            img {
                width: 120px;
            }
        }
    }

    .header-container {
        max-width: $contentMaxWidth;
        margin: auto;
        position: relative;

        @media only screen and (max-width: $contentMaxWidth) {
            padding-left: 15px;
            padding-right: 15px;
        }

        .lang-options {
            color: #fff;
            position: absolute;
            right: 0;
            font-size: 11px;

            @media only screen and (max-width: $contentMaxWidth) {
                padding-right: 15px;
            }

            a {
                color: #fff;

                &:hover {
                    color: $headerColor;
                    opacity: 1;
                }
            }
        }
    }

    .top-menu {
        display: block;
        float: right;
        text-align: right;
        padding: 0px;
        font-size: 30px;
        margin-top: 19px;

        @media only screen and (max-width: $screenTopMenu) {
            display: none;
        }

        nav {
            a {
                text-transform: uppercase;
                color: #fff;
                font-size: 16px;
                padding-right: 14px;

                &:last-child {
                    padding-right: 0px;
                }

                &:hover {
                    color: $headerColor;
                    opacity: 1;
                }

                span {
                    font-family: 'Gotham Bold';
                }

                &.active {
                    span {
                        border-bottom: 2px solid;
                        padding-bottom: 1px;
                    }
                }
            }
        }
    }

    .top-menu-mobile {
        display: none;
        float: right;
        text-align: right;
        padding-top: 25px;

        @media only screen and (max-width: $screenTopMenu) {
            display: block;
        }

        i {
            cursor: pointer;
            color: #fff;
            font-size: 30px;
        }

        nav {
            display: block;
            padding-top: 10px;

            a {
                padding: 0 10px;
                font-size: 15px;
                font-weight: 700;
                color: #fff;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .lang {
            font-size: 13px;
            color: #aaa;

            a {
                color: #bfc4c7;
                display: inline-block;
                padding: 0 10px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }
}

footer {
    padding: 40px 0;
    background: #e2e4ed;

    nav {
        a, label {
            display: block;
            font-weight: normal;

            @media only screen and (max-width: $screenSmall) {
                text-align: center;
            }

            &.main {
                font-family: 'Gotham Bold';
                font-size: 18px;
                color: #6b636f;

                @media only screen and (max-width: $screenSmall) {
                    padding-top: 20px;

                    &.first {
                        padding-top: 0;
                    }
                }

                &:after {
                    width: 50px;
                    margin: 5px 0 15px;
                    content: "";
                    height: 2px;
                    display: block;

                    @media only screen and (max-width: $screenSmall) {
                        margin: 5px auto 15px;
                    }
                }
            }

            &.sub {
                font-family: 'Gotham Book';
                font-size: 14px;
                color: $subFooterColor;
                padding-bottom: 5px;
            }

            &:hover {
                color: $headerColor;
            }
        }

        p {
            font-family: 'Gotham Book';
            font-size: 14px;
            color: $subFooterColor;
        }

        .space {
            height: 46px;
        }
    }
    
    .social {
        text-align: center;
        padding-top: 20px;

        a {
            display: inline-block;
            width: 50px;
            height: 36px;

            i {
                color: #635966;
                font-size: 26px;
                display: block;
            }
        }
    }

    .copyright {
        color: #999;
        text-align: center;
        padding-top: 20px;
    }
}

.menu-container {
    position: fixed;
    width: 300px;
    right: -300px;
    top: 0;
    padding: 50px 30px;    
    height: 100%;
    background-color: $headerColor;
    z-index: 99999;
    -webkit-transition: all 0.30s linear;
    -moz-transition: all 0.30s linear;
    -ms-transition: all 0.30s linear;
    -o-transition: all 0.30s linear;
    transition: all 0.30s linear;

    .menu-content {
        padding: 50px 55px;
        color: #fff;

        a {
            color: #fff;
        }
        
        .close-menu-container {

            span {
                font-size: 30px;
                position: absolute;
                right: 48px;
                top: 36px;
                cursor: pointer;
            }
        }
    
        .menu-items {
            list-style: none;
            padding: 0;
            margin-top: 80px;

            li {
                padding: 10px 0;

                .menu-text {
                    text-transform: uppercase;
                    font-family: 'Gotham Black';
                    font-size: 18px;
                }

                .menu-icon i {
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                    color: $hoverColor;
                    line-height: 20px;
                }
            }
        }

        .social-items {
            font-size: 22px;
            list-style: none;
            padding: 0;
            margin-top: 60px;

            li {
                float: left;
                padding-right: 35px;

                &:last-child {
                    padding: 0;
                }
            }
        }
    }

}

.btn.main-btn {
    border: 0 !important;
    border-radius: 0px;

    &:focus {
        color: #fff;
        outline:0;
    }
}

.main-btn {
    color: #fff;
    background-color: #fca300;
    font-size: 22px;
    padding: 5px 35px;
    display: inline-block;
    margin-top: 34px;
    text-decoration: none !important;

    &:hover {
        color: #fff;
        background-color: $headerColor;
        opacity: 1;
    }
}

.detail {
    font-family: 'Gotham Book';
    color: #4f4c53;
}

.no-padding {
    padding: 0;
}

.slider-control-orange {
    .lSAction {
        a {
            background-image: url('../img/icons/arrow-right-orange.png');
            
            &:hover {
                background-image: url('../img/icons/arrow-right-blue.png');
            }
        }
    }
}

.lSAction {
    z-index: 9999;

    a {
        opacity: 1;
        width: 20px;
        height: 32px;
        background-image: url('../img/icons/arrow-right.png');

        &:hover {
            background-image: url('../img/icons/arrow-right-blue.png');
        }
    }

    .lSNext, .lSPrev {
        z-index: 9999;
        background-position: initial;
    }

    .lSPrev {
        left: 30px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .lSNext {
        right: 30px
    }
}

.lSSlideOuter .lSPager.lSpg {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 30px;
    li {
        a {
            background-color: #fff;
            height: 15px;
            width: 15px;
        }
        &.active {
            a {
                background-color: $headerColor;
            }
        }
    }
}

h1.main-header {
    color: $headerColor;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Gotham Bold', 'Open Sans';
}

h1.sub-header {
    color: $headerColor;
    font-size: 30px;
    font-family: 'Gotham Bold', 'Open Sans';
}

.strong {
    font-family: 'Gotham Book';
    font-weight: bold;
}

.jump-target::before {
    content: "";
    display: block;
    margin-top: -119px;
    padding-top: 119px;
}

.modal {
    .close {
        span {
            font-weight: bold;
        }
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}