@import "_variables.scss";

page.home {
    .top-banner {
        position: relative;

        .item {
            height: 800px;

            @media only screen and (min-width: $screenTiny) and (max-width: $screenLarge) {
                height: 600px;
            }

            @media only screen and (max-width: $screenTiny) {
                height: 400px;
            }
        }

        .slogan {
            position: absolute;
            left: 50px;
            right: 50px;
            top: 50%;
            transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            z-index: 999;
            text-align: center;

            span {
                font-family: 'Anton', 'Kanit';
                font-size: 52px;
                text-transform: uppercase;
                text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
                color: #fff;
                display: block;

                &.color {
                    color: #77d0fb;
                }

                @media only screen and (max-width: $screenLarge) {
                    font-size: 38px;
                }

                @media only screen and (max-width: $screenTiny) {
                    font-size: 28px;
                }
            }
        }

        .lSSlideOuter .lSPager.lSpg {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            bottom: 30px;

            li {
                a {
                    background-color: #fff;
                }

                &.active {
                    a {
                        background-color: #36c6ff;;
                    }
                }
            }
        }
    }

    .concept {
        padding: 40px 0;
        overflow: hidden;
        background: #5ecaff;
        color: #fff;

        .main {
            float: left;
            border-right: 3px solid #129ee2;
            padding-right: 30px;
            width: 40%;
            text-transform: uppercase;
            letter-spacing: -2px;
            font-size: 48px;
            font-weight: 700;
            line-height: 48px;

            @media only screen and (max-width: $screenLarge) {
                font-size: 42px;
                line-height: 48px;
            }

            @media only screen and (max-width: $screenMedium) {
                font-size: 32px;
                line-height: 38px;
            }

            @media only screen and (max-width: $screenSmall) {
                float: none;
                text-align: center;
                width: auto;
                padding-right: 0;
                padding-bottom: 20px;
                border-right: none;
                border-bottom: 2px solid #129ee2;
            }
        }

        .sub {
            float: left;
            padding-left: 30px;
            width: 60%;
            font-size: 18px;

            @media only screen and (max-width: $screenSmall) {
                float: none;
                text-align: center;
                width: auto;
                padding-left: 0;
                padding-top: 20px;
            }
        }
    }

    .service {
        padding: 70px 0;

        .item {
            img {
                display: block;
                width: 100%;
            }

            a {
                display: block;
                background: #eee;
                color: #666;
                padding: 25px 20px;
                text-align: center;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }

    .about {
        background: url('../img/home-about.jpg') center center;
        background-size: cover;
        padding: 50px 0;

        .box {
            border: 1px solid #999;
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            padding: 30px;
            margin-bottom: 20px;

            h4 {
                font-weight: 700;
                font-size: 18px;
            }

            p {
                font-size: 16px;
            }

            a {
                border: 1px solid #999;
                color: #fff;
                display: inline-block;
                padding: 10px 20px;
                margin-top: 20px;
            }
        }
    }

    .project {
        padding: 50px 0;
        overflow: hidden;

        h2 {
            margin: 0;
            font-weight: 700;
            text-align: center;
            padding-bottom: 40px;

            span {
                color: #129ee2;
            }
        }

        .item {
            float: left;
            width: 25%;
            height: 200px;
            position: relative;
            border: 1px solid #fff;

            @media only screen and (max-width: $screenMedium) {
                width: 50%;
            }

            @media only screen and (max-width: $screenTiny) {
                width: 100%;
            }

            .title {
                position: absolute;
                z-index: 1;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
                padding: 20px;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: none;

                &:hover {
                    display: block;
                }

                h6 {
                    font-size: 16px;
                }

                span {
                    font-size: 14px;
                    color: #ccc;

                    i {
                        font-size: 20px;
                        vertical-align: sub;
                    }
                }
            }

            img {
                display: block;
                width: 100%;

                &:hover + .title {
                    display: block;
                }
            }
        }
    }

    .news {
        padding: 50px 0;
        background: #e5e5e5;

        h2 {
            margin: 0;
            font-weight: 700;
            text-align: center;
            padding-bottom: 40px;

            span {
                color: #129ee2;
            }
        }

        .picture {
            height: 200px;
        }

        .title {
            padding-top: 20px;

            span {
                display: block;
                font-size: 16px;
                font-weight: 700;
                line-height: 18px;

                &.date {
                    font-size: 14px;
                    font-weight: normal;
                        padding-top: 10px;
                    color: #666;
                }
            }

            a {
                font-size: 16px;
                font-weight: 700;
                display: block;
                color: #129ee2;
                padding-top: 10px;

                @media only screen and (max-width: $screenMedium) {
                    padding-bottom: 20px;
                }
            }
        }
    }
}