@import "_variables.scss";

page.product-detail {

    .description {
        padding-top: 20px;
        padding-bottom: 60px;

        .main-header {
            text-align: center;
        }

        .content {
            margin: auto;
            max-width: $contentMaxWidth;
            padding-top: 25px;

            .desc {
                padding-bottom: 30px;
                font-size: 23px;
            }

            .item-list {
                .img-container {
                    height: 200px;
                }

                .item-desc {
                    padding-top: 15px;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}