@font-face {
    font-family: 'psl_kittithada_proregular';
    src: url('psl094pro-webfont.eot');
    src: url('psl094pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('psl094pro-webfont.woff2') format('woff2'),
         url('psl094pro-webfont.woff') format('woff'),
         url('psl094pro-webfont.ttf') format('truetype'),
         url('psl094pro-webfont.svg#psl_kittithada_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kittithada_proitalic';
    src: url('psl095pro-webfont.eot');
    src: url('psl095pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('psl095pro-webfont.woff2') format('woff2'),
         url('psl095pro-webfont.woff') format('woff'),
         url('psl095pro-webfont.ttf') format('truetype'),
         url('psl095pro-webfont.svg#psl_kittithada_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kittithada_probold';
    src: url('psl096pro-webfont.eot');
    src: url('psl096pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('psl096pro-webfont.woff2') format('woff2'),
         url('psl096pro-webfont.woff') format('woff'),
         url('psl096pro-webfont.ttf') format('truetype'),
         url('psl096pro-webfont.svg#psl_kittithada_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kittithada_probold_italic';
    src: url('psl097pro-webfont.eot');
    src: url('psl097pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('psl097pro-webfont.woff2') format('woff2'),
         url('psl097pro-webfont.woff') format('woff'),
         url('psl097pro-webfont.ttf') format('truetype'),
         url('psl097pro-webfont.svg#psl_kittithada_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_text';
    src: url('PSLText.eot');
    src: url('PSLText.eot?#iefix') format('embedded-opentype'),
         url('PSLText.woff') format('woff'),
         url('PSLText.ttf') format('truetype'),
         url('PSLText.svg#PSLText') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_bold';
    src: url('PSLText_bold.eot');
    src: url('PSLText_bold.eot?#iefix') format('embedded-opentype'),
         url('PSLText_bold.woff') format('woff'),
         url('PSLText_bold.ttf') format('truetype'),
         url('PSLText_bold.svg#PSLText_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}